// 변수 선언하기

// BG
$bg-color1: #fff;
$bg-color2: #000;
$bg-color3: #f2f2f2;
$bg-color4: #e2e2e2;
$bg-color5: #333;

// Font Color
$color1: #2d2d2d;
$color2: #333;
$color3: #fff;
$color4: #000;
$color5: #c00;

// Font Size
$fz1: 1.4rem;
$fz2: 1.6rem;
$fz3: 1.8rem;
$fz4: 2.5rem;
$fz5: 3.5rem;
$fz6: 5rem;
$fz7: 7rem;

// Font Family
$ff1: 'Nanum Gothic', sans-serif;
$ff2: 'Noto Sans KR', sans-serif;
$ff3: '맑은 고딕', sans-serif;
$ff4: 'Roboto', sans-serif;
$ff5: 'Open Sans', sans-serif;
$ff6: 'Lato', sans-serif;
$ff7: 'helvetica', sans-serif;
$ff8: 'arial', sans-serif;

// Margin
$m10: 10px;
$m20: 20px;
$m30: 30px;
$m40: 40px;
$m50: 50px;
$mt10: 10px;
$mt20: 20px;
$mt30: 30px;
$mt40: 40px;
$mt50: 50px;
$mb10: 10px;
$mb20: 20px;
$mb30: 30px;
$mb40: 40px;
$mb50: 50px;
$ma: 0 auto;

// Padding
$p10: 10px;
$p20: 20px;
$p30: 30px;
$p40: 40px;
$p50: 50px;
$pt10: 10px;
$pt20: 20px;
$pt30: 30px;
$pt40: 40px;
$pt50: 50px;
$pb10: 10px;
$pb20: 20px;
$pb30: 30px;
$pb40: 40px;
$pb50: 50px;